header{
    background-color: olive;
    height: 70px;
}
.logo{
    text-align: center;
    
}
.logo p{
    font-size: 24px;
    font-family: 'Gloria Hallelujah', cursive;
    
}
.menu nav ul li{
    display:inline;
    float:right;
    margin:7px;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    
}
.menu{
    background-color: blue;
    height: 70px;
}

footer{
    background-color: olive;
    height:70px;
}

/*section intro */

#intro{
    background-image: url(../img/fondo2.jpg);
    height: 400px;
}

.welcome{
    text-align: center;
    padding-top:4em;
    
}

.welcome h1{
    font-size: 3.5em;
    font-family: 'Gloria Hallelujah', cursive;
    
}

.welcome h2{
    font-size: 3em;
    font-family: 'Gloria Hallelujah', cursive;
    
}

.desc{
    text-align: center;
}
.desc img{
    height: 200px;
    width: 200px;
}